<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.isumalab.learn">

    <uses-permission android:name = "android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name = "android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name = "android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/isumalab"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/isumalab"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="IsumaSchool"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <!--<action android:name="android.intent.action.CUSTOM" />-->
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".YoutubeCourse"
            android:label="Class Room"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".EditUser"
            android:label="User Profile"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".EditCourse"
            android:label="Course Details"
            android:theme="@style/AppTheme.NoActionBar"
            />

        <activity
            android:name=".Leaderboard"
            android:label="Leaderboard"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".Feed"
            android:label="Feed"
            android:theme="@style/AppTheme.NoActionBar"
            />

        <activity
            android:name=".SearchCourse"
            android:label="Course Catalog"
            android:theme="@style/AppTheme.NoActionBar"
        />

        <activity
            android:name=".CourseList"
            android:label="Class Room"
            android:theme="@style/AppTheme.NoActionBar"
            />

        <activity
            android:name=".SignUpActivity"
            android:label="SignUp"
            android:theme="@style/AppTheme.NoActionBar"
            />

        <activity android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

    </application>

</manifest>